* {
    font-family: apparat-semicond, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #294c5e;
    
}
body {
    background-image: url("../img/KYM_text.svg"),url("../img/KYM_linesWhiteV2.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #fef8fd;
    background-repeat: no-repeat;
}
section{
    position: absolute;
    right: 10%;
    top: 200px;
}

h5, h1 {
    font-weight: bold;
    letter-spacing: -1.5px;
}

.top-note{
    font-size: 40px;
    position: absolute;
    right: 35%;
    top: 30%;
   
}

.bottom-note{
    font-size: 40px;
    position: absolute;
    right: 22%;
    top: 59%;

}

.button{
    position: absolute;
    right: 35%;
    top: 75%;
    font-size: 25px;
    color: #ffff;
    background-color:#1ED760;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(220, 220, 220);
    height: 55px;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.7s;
   
}


.button:hover {
    color: #1ED760;
    background-color: #fff;
    
}


.stand-out{
    color: #db5844;
}



.input {
    position: absolute;
    right: 20%;
    top: 25%;
}

.textArea {
    width: 100%;
    opacity: 0.50;
    color: white;
    background-color: #294c5e;
    padding-left: 20px;
    border-radius: 6px;
    border: 2px solid #ccc;
    height: 35px;
    text-transform: uppercase;
}

::placeholder {
    color: white;
    opacity: 1;
}

@media only screen and (max-width: 1219px) {
    body {
        background-image:url("../img/KYMmobileLines.svg");
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        background-color: #fef8fd;
        background-repeat: no-repeat;
       
        
    }
    .background {
        background-image: url("../img/KYM_text.svg");
        position: fixed;
        right: 15%;
        top: 0%;
        background-repeat: no-repeat;
        background-size: 650px;
        width: 300px;
        height: 300px;
      }

      section{
        padding: 50px 10px;
        position: relative;
        right: 0;
      }

    .spodImg{
        width: 100%;
        padding: 50px 50px;
    }
    .top-note{
        font-size: 25px;
        
  }

    .bottom-note{
        font-size: 25px;
        
    }
   
}